#stockists_container
  %h2=t(".title")

  %p#enter_postcode=t(".enter_postcode")
  %form{:id => "stockist_form", :action => ""}
    %input#address{:placeholder => t(".enter_postcode")}
    %input{:type => :submit, :value => t(".go"), :autofocus => :autofocus}

  %br

  #results

    %p#title{:style =>  "display:none"}= t(".results_title")

    .stockist_result{:style =>  "display:none"}
      %p.stockist_name
      %p.stockist_address_line_one
      %p.stockist_address_line_two
      %p.stockist_town
      %p.stockist_city
      %p.stockist_postcode
      %a.stockist_url{:href => ""}
      %br
      %br
      %a.stockist_map{:href => "javascript:void(0)"}= t(".view_on_map")
        
    .stockist_result{:style =>  "display:none"}
      %p.stockist_name
      %p.stockist_address_line_one
      %p.stockist_address_line_two
      %p.stockist_town
      %p.stockist_city
      %p.stockist_postcode
      %a.stockist_url{:href => ""}
      %br
      %br
      %a.stockist_map{:href => "javascript:void(0)"}= t(".view_on_map")
    .stockist_result{:style =>  "display:none"}
      %p.stockist_name
      %p.stockist_address_line_one
      %p.stockist_address_line_two
      %p.stockist_town
      %p.stockist_city
      %p.stockist_postcode
      %a.stockist_url{:href => ""}
      %br
      %br
      %a.stockist_map{:href => "javascript:void(0)", :style =>  "display:none"}= t(".view_on_map")

    %div{:style => "clear:both"}
    %p#message{:style =>  "display:none"}= t(".no_data_found")
    %p#enquiries{:style =>  "display:none"}= t(".enquiries")


  %br
  %br
        
  #results_canvas{:style => "width:90%; height:300px; border:0px solid #ccc;"}