<%= breadcrumbs %>

<div class="static padded">
  <div id="contacttop">
    <p><img src="/images/ukSmall.jpg" height="20" width="27" alt="UK flag" align="left" /> For information about our products or where to find them, call our sales line on &nbsp;<b>01775 724 358</b><br />or <%= link_to "request a call-back", "contact_us?lang=com"%> or <%= link_to "send us an email", "contact_us?lang=com"%>.</p>
    <p><img src="/images/drSmall.jpg" height="20" width="27" alt="German flag" align="left" />F&uuml;r weitere Info &uuml;ber unsere Produkte und Ansprechspartner bitte 0044 1775 712 111 anrufen um mit unserem Verkaufsteam zu sprechen oder <%= link_to "schicken Sie uns ein e mail zu", "contact_us?lang=de"%>.</p>
    <p><img src="/images/frSmall.jpg" height="20" width="27" alt="French flag" align="left" />Pour information sur nos produits et d&eacute;tails de nos repr&eacute;sentants notre equipe de vente est contactable par t&eacute;l&eacute;phone sur 0044 1775 712 111 ou <%= link_to "contactez nous par e mail", "contact_us?lang=fr"%>.</p>
  </div>
  <div id="leftcontact">
    <div class="addressright">
     <h2>Head Office<br /> Spalding Showroom</h2>
      <address>
      Wardentree Lane,
      </address>
      <address>
      Pinchbeck,
      </address>
      <address>
      Spalding,
      </address>
      <address>
      Lincolnshire
      </address>
      <address>
      PE11 3UG
      </address>
      <address>
      tel: 01775 712 111
      </address>
      <address>
      <a href="/contact_us?lang=com">email us</a>
      </address>
    </div>
    <div id="openingright">
      <table width="190" border="0" class="opening">
        <tr>
          <td width="100">Mon - Thurs</td>
          <td width="80">08.30 - 17.00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>08.30 - 16.00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>10.00 - 15.00</td>
        </tr>
      </table>
    </div>
    <div id="maplinkright"><a class="small" onclick="window.open('/images/Spaldingmap.jpg','','width=600,height=400,scrollbars=no,resizable=no,location=no,menubar=no,toolbar=no,top=20,left=20')" href="javascript:void(0)">Click here for map</a></div>
  </div>
  <div id="midcontact">
    <div class="addressleft">
      <h2>London Showroom</h2>
      <address>
      20 Pimlico Road,
      </address>
      <address>
      London
      </address>
      <address>
      SW1W 8LJ
      </address>
      <address>
      tel: 020 7730 6574
      </address>
      <address>
      <a href="/contact_us?lang=com">email us</a>
      </address>
    </div>
    <div id="openingleft">
      <table width="190" border="0" class="opening">
        <tr>
          <td width="100">Monday - Friday</td>
          <td width="80">10.00 - 18.00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>10.00 - 17.00</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
    <div id="maplinkleft"><a class="small" onclick="window.open('/images/Londonmap.jpg','','width=600,height=400,scrollbars=no,resizable=no,location=no,menubar=no,toolbar=no,top=20,left=20')" href="javascript:void(0)">Click here for map</a></div>
  </div>
  <div id="rightcontact">
    <div id="shopimage"> <img src="/images/shop.jpg" border="0" height="264" width="158" alt="shop front"/> </div>

  </div>
</div>

