= breadcrumbs
.static.padded
  #fabric
    .fabricleft

      %h2= t(".1_h2")
      %p= t(".1_p1")
      %p= t(".1_p2")
      %p= t(".1_p3")
      %p= t(".1_p4")

      %p
        = t(".1_p5")
        
        %ul
          %li= t(".1_li1")
          %li= t(".1_li2")
          %li= t(".1_li3")
          %li= t(".1_li4")
      %p= t(".1_p6")

    .fabricright
      %img{:border => "0", :height => "410", :src => "/images/fabric1.png"}/
      %p= t(".1_p6")
