= breadcrumbs
.static.padded
  #other
    .othertop
      .othertopleft
        %img{:border => "0", :height => "130", :src => "/images/colours/FandB1.png"}/
      .othertopright
        %h2= t(".1_h2")
        %p= t(".1_p1")
        %p= t(".1_p2")
        %p= t(".1_p3")
        %p= t(".1_p4")
        %p= t(".1_p5")
        %p
          %a{:href => "http://www.farrow-ball.com"} www.farrow-ball.com
