= breadcrumbs
.static.padded
  #standard
    .stdtop
      .stdtopleft
        %h2= t(".1_h2")
        %p= t(".1_p1")
        %p= t(".1_p2")
        %p= t(".1_p3")
        %p= t(".1_p4")
      .stdtopright
        %img{:alt => "loomtex image", :border => "0", :height => "130", :src => "/images/colours/loomtex1.png"}/
    .standardbottom
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loom1.png"}/
        %h3 Marble
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loom2.png"}/
        %h3 Natural
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loom3.png"}/
        %h3 Spice
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loom4.png"}/
        %h3 Storm
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loom5.png"}/
        %h3 Taupe
    .stdtop
      .stdtopleft
        %h2= t(".2_h2")
        %p= t(".2_p1")
        %p= t(".2_p2")
        %p= t(".2_p3")

      .stdtopright
        %img{:alt => "loomtex image", :border => "0", :height => "130", :src => "/images/colours/loomNatural1.png"}/
    .standardbottom
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loomnat1.png"}/
        %h3 Pistachio
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loomnat2.png"}/
        %h3 Nutmeg
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loomnat3.png"}/
        %h3 Clear
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loomnat4.png"}/
        %h3 Cirrus
      .swatch
        %img{:alt => "loomtex image", :border => "0", :height => "94", :src => "/images/colours/loomnat5.png"}/
        %h3 Burnt Oak
