= breadcrumbs
.static.padded
  #naturals
    .stdtop
      .stdtopleft
        %h2= t(".1_h2")
        %p= t(".1_p1")
        %p= t(".1_p2")
        %p= t(".1_p3")
      .stdtopright
        %img{:alt => "naturals image", :border => "0", :height => "130", :src => "/images/colours/natural1.png"}/
    .standardbottom
      .swatch
        %img{:alt => "naturals image", :border => "0", :height => "94", :src => "/images/colours/nat1.png"}/
        %h3 Pistachio
      .swatch
        %img{:alt => "naturals image", :border => "0", :height => "94", :src => "/images/colours/nat2.png"}/
        %h3 Nutmeg
      .swatch
        %img{:alt => "naturals image", :border => "0", :height => "94", :src => "/images/colours/nat3.png"}/
        %h3 Clear
      .swatch
        %img{:alt => "naturals image", :border => "0", :height => "94", :src => "/images/colours/nat4.png"}/
        %h3 Cirrus
      .swatch
        %img{:alt => "naturals image", :border => "0", :height => "94", :src => "/images/colours/nat5.png"}/
        %h3 Burnt Oak
