#navhorheritage
  = render :partial => "heritage_menu", :locals => {:current => "production"}
= breadcrumbs
.static.padded
  #production
    %p= t(".intro_p1")
    %p= t(".intro_p2")
    %br/
    .prodleft
      .prodimage
        %img{:alt => "paper roll", :border => "0", :height => "200", :src => "/images/prod1.jpg"}/
      .prodtext
        %p= t(".1_p1")
    .prodright
      .prodtext
        %p= t(".2_p1")
      .prodimage
        %img{:alt => "bobbins", :border => "0", :height => "200", :src => "/images/prod2.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "spinning", :border => "0", :height => "200", :src => "/images/prod3.jpg"}/
      .prodtext
        %p= t(".3_p1")
    .prodright
      .prodtext
        %p= t(".4_p1")
      .prodimage
        %img{:alt => "looms", :border => "0", :height => "200", :src => "/images/prod4.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "weave", :border => "0", :height => "200", :src => "/images/prod5.jpg"}/
      .prodtext
        %p= t(".5_p1")
    .prodright
      .prodtext
        %p= t(".6_p1")
      .prodimage
        %img{:alt => "Joe", :border => "0", :height => "200", :src => "/images/prod6.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Peter", :border => "0", :height => "200", :src => "/images/prod7.jpg"}/
      .prodtext
        %p= t(".7_p1")
    .prodright
      .prodtext
        %p= t(".8_p1")
      .prodimage
        %img{:alt => "Nails", :border => "0", :height => "200", :src => "/images/prod8.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Forming", :border => "0", :height => "200", :src => "/images/prod9.jpg"}/
      .prodtext
        %p= t(".9_p1")
    .prodright
      .prodtext
        %p= t(".10_p1")
      .prodimage
        %img{:alt => "Simon", :border => "0", :height => "200", :src => "/images/prod10.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Graham", :border => "0", :height => "200", :src => "/images/prod11.jpg"}/
      .prodtext
        %p= t(".11_p1")
    .prodright
      .prodtext
        %p= t(".12_p1")
      .prodimage
        %img{:alt => "Steven", :border => "0", :height => "200", :src => "/images/prod12.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Upholstery", :border => "0", :height => "200", :src => "/images/prod13.jpg"}/
      .prodtext
        %p= t(".13_p1")
        %p= t(".13_p2")
    .prodright
      .prodtext
        %p= t(".14_p1")
      .prodimage
        %img{:alt => "Robert", :border => "0", :height => "200", :src => "/images/prod14.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Trimming", :border => "0", :height => "200", :src => "/images/prod15.jpg"}/
      .prodtext
        %p= t(".15_p1")
        %p= t(".15_p2")
    .prodright
      .prodtext
        %p= t(".16_p1")
      .prodimage
        %img{:alt => "Finishing", :border => "0", :height => "200", :src => "/images/prod16.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Nigel", :border => "0", :height => "200", :src => "/images/prod17.jpg"}/
      .prodtext
        %p= t(".17_p1")
    .prodright
      .prodtext
        %p= t(".18_p1")
      .prodimage
        %img{:alt => "Braiding", :border => "0", :height => "200", :src => "/images/prod18.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Back Light", :border => "0", :height => "200", :src => "/images/prod19.jpg"}/
      .prodtext
        %p= t(".19_p1")
    .prodright
      .prodtext
        %p= t(".20_p1")
      .prodimage
        %img{:alt => "Spraying", :border => "0", :height => "200", :src => "/images/prod20.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Canterbury", :border => "0", :height => "200", :src => "/images/prod21.jpg"}/
      .prodtext
        %p= t(".21_p1")
        %p= t(".21_p1")
    .prodright
      .prodtext
        %p= t(".22_p1")
      .prodimage
        %img{:alt => "Braid", :border => "0", :height => "200", :src => "/images/prod22.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Dave", :border => "0", :height => "200", :src => "/images/prod23.jpg"}/
      .prodtext
        %p= t(".23_p1")
    .prodright
      .prodtext
        %p= t(".24_p1")
      .prodimage
        %img{:alt => "Stacks", :border => "0", :height => "200", :src => "/images/prod24.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Linen", :border => "0", :height => "200", :src => "/images/prod25.jpg"}/
      .prodtext
        %p= t(".25_p1")
    .prodright
      .prodtext
        %p= t(".26_p1")
      .prodimage
        %img{:alt => "Gluing", :border => "0", :height => "200", :src => "/images/prod26.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Painting", :border => "0", :height => "200", :src => "/images/prod27.jpg"}/
      .prodtext
        %p= t(".27_p1")
    .prodright
      .prodtext
        %p= t(".28_p1")
      .prodimage
        %img{:alt => "Quality", :border => "0", :height => "200", :src => "/images/prod28.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Badged Lloyd Loom", :border => "0", :height => "200", :src => "/images/prod29.jpg"}/
      .prodtext
        %p= t(".29_p1")
    .prodright
      .prodtext
        %p= t(".30_p1")
      .prodimage
        %img{:alt => "Packing", :border => "0", :height => "200", :src => "/images/prod31.jpg"}/
    .prodleft
      .prodimage
        %img{:alt => "Badged Lloyd Loom", :border => "0", :height => "200", :src => "/images/prod30.jpg"}/
      .prodtext
        %p= t(".31_p1")
