= breadcrumbs
.static.padded
  #standard
    .stdtop
      .stdtopleft
        %h2= t(".1_h2")
        %p= t(".1_p1")
        %p= t(".1_p2")
      .stdtopright
        %img{:alt => "standard image", :border => "0", :height => "130", :src => "/images/colours/standard1.png"}/
    .standardbottom
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor1.png"}/
        %h3 Brilliant White
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor2.png"}/
        %h3 Nearly White
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor3.png"}/
        %h3 Ivory
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor4.png"}/
        %h3 Fawn
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor5.png"}/
        %h3 Arctic Grey
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor6.png"}/
        %h3 Pebble
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor10.png"}/
        %h3 Bracken
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor13.png"}/
        %h3 Buffalo
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor7.png"}/
        %h3 Duck egg
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor12.png"}/
        %h3 Naples Green
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor8.png"}/
        %h3 Tarragon
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor9.png"}/
        %h3 Sage
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor11.png"}/
        %h3 Swallow blue
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor15.png"}/
        %h3 Signal red
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor14.png"}/
        %h3 Espresso.
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stdcolor16.png"}/
        %h3 Nearly black
    .stdtop
      .stdtopleft
        %h2= t(".2_h2")
        %p= t(".2_p1")
        %p= t(".2_p2")
      .stdtopright
        %img{:alt => "standard image", :border => "0", :height => "130", :src => "/images/colours/stain1.png"}/
    .standardbottom
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stncolor1.png"}/
        %h3 Clear
      .swatch
        %img{:alt => "standard image", :border => "0", :height => "94", :src => "/images/colours/stncolor2.png"}/
        %h3 Honey
    %p
      =t(".3_p1")
