= breadcrumbs
.static.padded
  #leftcontact2
    .addressleft
      %h2= t(".1_h2")
      %br/
      %address= t(".1_p1")
      %address
        %strong= t(".1_p2")
      %br/
      %address= t(".1_p3")
      %address
        %strong= t(".1_p4")
      %br/
  #midcontact2
    .addressleft
      %h2= t(".2_h2")
      %br/
      %address= t(".2_p1")
      %address
        %strong= t(".2_p2")
      %br/
      %address= t(".2_p3")
      %address
        %strong= t(".2_p4")
      %br/
  #rightcontact2
    .addressleft
      %h2= t(".3_h2")
      %br/
      %address= t(".3_p1")
      %address
        %strong= t(".3_p2")
      %br/
      %address= t(".3_p3")
      %address
        %strong= t(".3_p4")
      %br/
  #bottomcontact
    %p
      = t(".4_p1")
      = link_to t(".4_p2"), 'contact_us' 
