%h2 Choose your mission:

%ul
  %li= link_to "Amend products", admin_products_url
  %li= link_to "Amend products attributes", admin_product_attribute_fields_url
  %li= link_to "Amend product ranges", admin_product_ranges_url
  %li= link_to "Amend categories", admin_categories_url
  %li= link_to "Amend weaves", admin_weaves_url
