= breadcrumbs

.browse{:class => "padded"}

  #upperContent
    -if !@product.blank?
      = render :partial => "products/product_top"
  #lowerContent
    -if !@product.blank?
      = render :partial => "products/product_bottom"

    - elsif !@selected_category.blank?
      -if params[:category_kind] == "range"
        .range_page_range
          - if !@highlighted_product.blank?
            = image_tag @highlighted_product.product_range.image.url(:medium), :class => "medium"
            %h2= @highlighted_product.product_range.name
            %p= @highlighted_product.product_range.description
        .range_page_products
          - if !@products_in_range.blank?
            - for product in @products_in_range[0..4]
              .product_summary
                = link_to image_tag(product.image.url(:thumb), :class => highlight_this?(product,@selected,"thumb"), :title => product.range_and_name), browse_category_product_url(:category_kind => params[:category_kind].downcase, :category =>  params[:category].downcase, :product => seo(product.name.downcase), :id => product.id)
        .range_page_products
          - if !@products_in_range.blank? && @products_in_range.size > 4
            - for product in @products_in_range[5..10]
              .product_summary
                = link_to image_tag(product.image.url(:thumb), :class => highlight_this?(product,@selected,"thumb"), :title => product.range_and_name), browse_category_product_url(:category_kind => params[:category_kind].downcase, :category =>  params[:category].downcase, :product => seo(product.name.downcase), :id => product.id)
        -if @products_in_range.blank?
          %p No products found
      -else
        - for tagging in @selected_category.taggings
          .product_summary
            = "[#{tagging.highlighted}]" if logged_in?
            = link_to image_tag(tagging.taggable.image.url(:thumb), :class => "thumb", :title => tagging.taggable.range_and_name ), browse_category_selected_url(:category_kind => "range", :category => tagging.taggable.product_range.name, :selected_id => tagging.taggable.id) if !tagging.taggable.product_range.blank?
            = link_to tagging.taggable.range_name, browse_category_selected_url(:category_kind => "range", :category =>  tagging.taggable.product_range.name, :selected_id => tagging.taggable.id), :class => "product_range_name" if !tagging.taggable.product_range.blank?
        -if @selected_category.taggings.blank?
          %p No products found
    - else
      #productshome
        #producthomeimage
          %img{ :src => "/images/productpageimage.jpg", :border => "0", :height => "268", :width => "620", :alt => "table top"}
        #productstext
          %p= t(:products_p1)
          %p= t(:products_p2)
          %p= t(:products_p3)
          %p= t(:products_p4)
          %p
            %b= t(:products_p5)
        #productsimages

